
  <div [formGroup]="form">
    <div class="form-group">

      <mat-radio-group formControlName="slippageSelect" aria-label="Select an option" class="my-special-class">
        <mat-radio-button value="0.1" (click)="selectSlippage('0.1')">0.1 %</mat-radio-button>
        <mat-radio-button value="0.5" (click)="selectSlippage('0.5')">0.5 %</mat-radio-button>
        <mat-radio-button value="1" (click)="selectSlippage('1')">1 %</mat-radio-button>
        <mat-radio-button value="3" (click)="selectSlippage('3')">3 %</mat-radio-button>
        <mat-radio-button value="custom" (click)="selectSlippage('0.2')">Custom</mat-radio-button>
      </mat-radio-group>

    </div>

    <div *ngIf="showCustomSlippageInput">
      <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>Custom slippage %</mat-label>
        <input matInput
               [formControl]="slippageInput"
               autocomplete="off"
               placeholder="Custom %"
               style="width: 100px;"
               type="text">
        <mat-error *ngIf="slippageInput.errors?.pattern">Not valid value!. Only numeric value is allowed!</mat-error>
        <mat-error *ngIf="slippageInput.errors?.max">Max price slippage is 50%!</mat-error>
        <!--
        <mat-error *ngIf="slippageInput.errors?.fraction">Fraction shouldn't have more than 2 decimal places!</mat-error>
        -->
      </mat-form-field>
    </div>
  </div>




