.container {
  margin: 15px;
}

.swap-controls {

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 90px 200px 40px 90px 200px;
    grid-template-rows: auto auto auto;
    grid-column-gap: 10px;
    .col-span-all {
      grid-column: 1 / 6;
    }
  }
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
      width: 100%;

      * {
        width: 100%;
      }
    }
  }

}

.content-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.t-center {
  text-align: center;
}

.t-right {
  text-align: right;
}

.t-left {
  text-align: left;
}

.m-1 {
  margin: 16px;
}

.m-t {
  margin-top: 16px;
}

.m-b {
  margin-bottom: 16px;
}

.w-100 {
  width: 100%;
}

//width: 100%;
//grid-template-rows: 40px 1px 40px 1px;
//grid-template-columns: 120px auto 1fr;
//justify-content: center;
//grid-row-gap: 0;
//align-items: center;

