<div class="m-1">

  <button mat-icon-button aria-label="settings" (click)="toggleSlippage()">
    <mat-icon svgIcon="settings" [color]="displaySlippageSettings ? 'primary' : ''"></mat-icon>
  </button>

  <form class="example-form">
    <div class="swap-controls">

      <!--
      <div class="example-label">Flat</div>
      <div class="example-button-row">
        <button mat-flat-button>Basic</button>
        <button mat-flat-button color="primary">Primary</button>
        <button mat-flat-button color="accent">Accent</button>
        <button mat-flat-button color="warn">Warn</button>
        <button mat-flat-button disabled>Disabled</button>
        <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
      </div>
      -->

      <div>
        <small>&nbsp;</small>
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>From</mat-label>
          <mat-select>
            <mat-option *ngFor="let token of tokenService.getSortedTokens() | async" [value]="token.address">
              {{token.symbol}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <div class="t-left">
        <small class="w-100 t-center" style="color: rgba(0, 0, 0, 0.6);">Set Max: 1000</small>
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Amount</mat-label>
          <input matInput placeholder="Amount" value="0.0001" class="mat-input-wrapper">
          <mat-hint align="end">≈ $1000.00</mat-hint>
        </mat-form-field>
      </div>


      <div class="content-center">
        <img src="assets/swap.svg" class="r90" width="24" height="24">
      </div>

      <div>
        <small>&nbsp;</small>
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>To</mat-label>
          <mat-select>
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{food.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <div>
        <small class="w-100">&nbsp;</small>
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Amount</mat-label>
          <input matInput placeholder="Amount" value="0.0001">
          <mat-hint align="end">≈ $890.03 ( -11.07% ) ⚠️️</mat-hint>
        </mat-form-field>
      </div>

      <h4 *ngIf="!displaySlippageSettings" class="content-center col-span-all">Price slippage: {{slippage.toString()}}
        %</h4>
      <div *ngIf="displaySlippageSettings" class="content-center col-span-all m-t m-b">
        <oi-slippage-settings [(slippage)]="slippage"></oi-slippage-settings>
      </div>

      <div class="content-center col-span-all">
        <!--      <span class="t-center">some message</span>-->
        <button mat-flat-button color="primary">SWAP NOW</button>
      </div>

    </div>

  </form>

  <!--
      <button mat-flat-button>Basic</button>-->
  <!--
      <button mat-flat-button color="accent">Accent</button>
      <button mat-flat-button color="warn">Warn</button>
      <button mat-flat-button disabled>Disabled</button>
      <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
      -->
</div>
