.mat-radio-label-content {
  margin: 10px
}

.form-group {
  display: flex;
  * {
    margin: 5px;
    margin-bottom: 10px;
  }
}

.d-flex-col * {
  display: flex;
  flex-direction: column;
  * {
    margin: 5px;
  }
}

.slippage-header {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 8px;
}

